@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-roboto);
}



:root {
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-roboto);
  --font-arabic: var(--font-cairo);
}

/* English default */
body {
  font-family: var(--font-body);
}

/* Headings */
h1, h2, h3, h4 {
  font-family: var(--font-heading);
}

/* Arabic override */
html[lang="ar"] body {
  font-family: var(--font-arabic);
}

html[lang="ar"] h1,
html[lang="ar"] h2,
html[lang="ar"] h3 {
  font-family: var(--font-arabic);
}
